.black_ {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    width: 100vw;
    flex-direction: column;
    position: relative;
    font-family: 'IBMPlexSans-Regular';
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../../../../assets/fonts/IBMPlexSans-Regular.ttf')
}

.pass__resultbox_ {
    position: relative;
    width: 100%;
    height: 180px;

}

.pass__resultlen_ {
    position: relative;
    top: 70%;
    padding-left: 5%;

    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #000000;
}

.pass__line_ {
    position: relative;
    width: 100%;
    height: 0px;
    border: 1px solid #000000;
}

.pass__resultbox2_ {
    position: relative;
    width: 100%;
    height: 1000px;
}

.pass__resultlen1_ {
    position: relative;
    top: 10%;
    font-size: 21px;
    line-height: 150%;
    font-weight: 700;

    text-align: center;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pass__resultlen2_ {
    position: relative;
    top: 13%;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    text-align: center;
    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.pass__resultlen3_ {
    position: relative;
    top: 22%;
    font-weight: 700;
    font-size: 21px;
    line-height: 150%;

    text-align: center;
    color: #000000;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.pass__resultlen4_ {
    position: relative;
    top: 25%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #000000;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.pass__picline_ {
    position: relative;
    top: 30%;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin: 0px auto;
    object-fit: contain;
    text-align: center;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.pass_picline_ img {
    max-width: 100%;
    height: auto;
}

.pass__picline_spot_ {
    position: absolute;
    top: 50%;
    left: 44%;
/* 
    top: 30%;
    left: 50%; */
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}