.InputBox {
    width: 1300px;
    height: 145px;

    box-sizing: border-box;

    border: 1px solid #000000;

    resize: none;
}

.MobileInputBox {
    /* width: 1300px; */
    width: 90vw;
    height: 20vh;

    box-sizing: border-box;

    border: 1px solid #000000;

    resize:vertical;
}