.base{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'IBMPlexSans-Regular';
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../assets/fonts/IBMPlexSans-Regular.ttf');
}

.mfrom{
    position: relative;
    width: 1300px;
    height: 561px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.process{
    position: absolute;  
    margin-top: 142px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}
.guideLine{
    position: absolute;
    width: 1300px;
    height: 0px;  
    margin-top: 223px;
    border: 0.3px solid #000000;
}
.circleFrame{
    position: relative;
    width: 1300px;
    height: 254px; 
    font-style: normal;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.firstCircle {
    position: absolute;
    left: 108px;
    top: 287px;
    
    background-color: rgba(85, 169, 190, 0.7);
    width: 235px;
    height: 235px;
    border: 5px solid white;
    outline: 5px solid rgba(85, 169, 190, 0.7);
    border-radius: 50%;
}
.secondCircle{
    position: absolute;
    left: 532px;
    top: 287px;
    background-color: rgba(85, 169, 190, 0.85);
    width: 235px;
    height: 235px;    
    border-radius: 50%;
}
.thirdCircle{
    position: absolute;
    left: 956px;
    top: 287px;
    background-color: rgba(85, 169, 190, 1);
    width: 235px;
    height: 235px;
    border-radius: 50%;
}
.circleTitle1{
    position: absolute;
    left: 90px;
    top: 83px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: white;
    text-align: center;
}
.circleContent1{
    position: absolute;
    text-align: center;
    left: 45px;
    top: 130px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.circleTitle2{
    position: absolute;
    left: 95px;
    top: 83px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: white;
    text-align: center;
}
.circleContent2{
    position: absolute;
    text-align: center;
    left: 69px;
    top: 130px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.circleContent3{
    position: absolute;
    text-align: center;
    left: 75px;
    top: 130px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.right1{
    position: absolute;
    left: 431px;
    top: 387px;
    height: 26px;
}

.right2{
    position: absolute;
    left: 855px;
    top: 387px;
    height: 26px;
}

.ApplyButton{ 
    width: 429px;
    height: 52px;
    left: 747px;
    margin-top: 462.5px;
    background: #000000;
    border-radius: 10px;
}

.applyLetter{
    left: 185px;
    top: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

/* Mobile */

@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url('../../assets/fonts/IBMPlexSans-Regular.ttf');
}

.M_process{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-left: 5%;
}

.M_guideLine{
    height: 0px;  
    margin-left: 5%;
    border: 0.3px solid #000000;
}

.M_FirstCircle {
    background-color: rgba(85, 169, 190, 0.7);
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    outline: 5px solid rgba(85, 169, 190, 0.7);
    border-radius: 50%;
}
.M_SecondCircle{
    background-color: rgba(85, 169, 190, 0.85);
    width: 25vw;
    height: 25vw; 
    border-radius: 50%;
}

.M_CircleTitle1{
    font-weight: 500;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 4vw;
}

.M_CircleContent1{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: #FFFFFF;
}

.M_ApplyButton{ 
    background-color: #000000; /* 배경색을 변경 */
    border: none; /* 테두리 제거 */
    border-radius: 20px; /* 더 둥근 모양으로 변경 */
    padding: 2vw 11vw; /* 내부 여백 설정 */
    font-size: 20px; /* 글꼴 크기 설정 */
    color: white; /* 텍스트 색상을 흰색으로 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 제거 */
}

.M_ApplyLetter{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}