.ImgMain {
    position: relative;

    /* font-family: 'IBMPlexSans-Regular'; */
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImgMainBox {
    position: relative;

    width: 100%;
    height: 1005px;

    /* width: 100%; */
    /* height: 100%; */

    display: flex;

    justify-content: center;
}

.ImgMainStyle {
    /* position: relative; */

    /* width: 1920px;
    height: 1005px; */

    /* position: absolute; */


    width: 100%;
}

.ImgMainBlackBackgroundStyle {
    /* position: "relative"; */

    width: 100%;
    height: 1005px;
    padding: 30px 10px;
    background: black;
}

.ImgMainGrayFilterStyle {
    position: absolute;

    width: 100%;
    height: 1005px;
    /* height: 100%; */

    display: flex;
    justify-content: center;

    /* background: rgba(100, 10, 200, 0.6); */
    background: rgba(0, 0, 0, 0.6);
}


.ImgMainLetterBox_1 {
    position: absolute;

    font-size: 24px;
    font-weight: bold;

    bottom: 120px;
}

.ImgMainLetterBox_2 {
    position: relative;
    text-align: left;

    font-weight: bold;


    /* width: 466px; */
    width: 100%;
    height: 135px;
    padding-top: 20%;
    padding-left: 5%;

}

.ImgMainLetterBox_2_1 {
    display: inline-block;
}

.ImgMainLetterBox_3 {

    position: absolute;
    width: 60%;
    height: 80px;

    text-align: left;

    justify-content: center;
    /* 중앙 정렬 */
    bottom: 220px;

}

.ImgMainLetterBox_3_1 {
    position: relative;

    /* width: 341px; */
    width: 20%;

    display: inline-block;
    justify-content: left;

}

.WhiteWord {
    color: #ffffff;

}

.BlueWord {
    color: #55A9BE;
}

.ImgMain_1_Title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.ImgMain_2_Title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
}

.ImgMain_3_Title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
}

.ImgMain_3_Content {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

/* 모바일 장치를 위한 미디어 쿼리 */
@media (max-width: 768px) {

    .ImgMainBox,
    .ImgMainBlackBackgroundStyle,
    .ImgMainGrayFilterStyle {
        height: 500px;
        /* 모바일 환경에서의 높이 조정 */
    }

    .ImgMain_3_Title {
        font-size: 18px;
        /* 모바일에서 줄인 글씨 크기 */
    }

    .ImgMain_3_Content {
        font-size: 12px;
        /* 모바일에서 줄인 글씨 크기 */
    }

    .ImgMainLetterBox_3 {
        width: 100%;
    }
}