.AgreeAboveCheck {
    position: relative;

    width: 1300px;
    height: 228px;
}

.MobileAgreeAboveCheck {
    position: relative;

    width: 80vw;
    height: 30vh;

    margin-top: 5vh;

    /* background: red; */
}

.AgreeAboveWord {
    position: absolute;

    top: 472px;
    left: 577px;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}

.MobileAgreeAboveWord {

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    margin-left: 2vw;

    /* background: blue; */

    color: #000000;
}

.GoWriteApplyButton {
    position: absolute;

    top: 362px;
}

.MobileGoWriteApplyButton {

}

.Button{
    position: absolute;

    width: 20px;
    height: 20px;

    top: 473px;
    left: 543px;

    border: none;
}

.MobileButton{
    width: 20px;
    height: 20px;

    border: none;
}

.checked{
    background: url('../../../../assets/images/apply/checkedButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.unChecked{
    background: url('../../../../assets/images/apply/unCheckedButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}